@import "../../variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0;
  background-color: $white-color;
  border-bottom: 1px solid $secondary-gray-color;

  & .namari-logo {
    width: auto;
    height: 22px;

    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  & .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;

    & .hamburger {
      position: relative;
      transition: transform 0.3s ease;
      height: 30px;
      width: 30px;
      border-radius: 10px;

      & img {
        width: 100%;
        object-fit: cover;
      }

      &:before,
      &:after {
        content: "";

        width: 30px;
        height: 13px;
        transition: transform 0.3s ease;
      }

      &:before {
        top: 50%;

        transform: translateY(-50%);
      }

      &:after {
        top: 50%;

        transform: translateY(50%);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 50px;
  right: 0;
  width: auto;
  height: auto;
  overflow-y: auto;
  padding: 10px;
  background-color: $secondary-gray-color;
  box-shadow: 0px 8px 16px $secondary-black-color-rgba;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

body.menu-open {
  overflow: hidden;
}

.menu-open {
  opacity: 1;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1440px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    background-color: $white-color;
    flex-direction: row;
    border-bottom: 1px solid $secondary-gray-color;
    z-index: 1000;

    & .menu-button {
      display: none;
    }
  }

  .menu {
    position: static;
    opacity: 1;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    width: auto;
    background-color: $white-color;
  }
}
