@import '../../variables.scss';


.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;

    & .gallery-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        & .gallery-img-content {
            width: 100%;
            height: 550px;
            border-radius: 10px;
            overflow: hidden;
            opacity: 0.34;
            transition: opacity $transition-content;

            & figure {
                margin: 0;
                padding: 0;
            }

            & .img-content {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                border-radius: 10px;
                transition: transform $gallery-transition-content;
            }

            &:hover {
                opacity: 1;
                box-shadow: 13px 14px 15px -8px rgba(0, 0, 0, 0.65);
                -webkit-box-shadow: 13px 14px 15px -8px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: 13px 14px 15px -8px rgba(0, 0, 0, 0.65);

                & .img-content {
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media (max-width:1025px) {
    .gallery-section {
        padding: 40px 0;

        & .gallery-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;

            & .gallery-img-content {
                height: auto;
            }
        }
    }
}


@media (max-width:430px) {
    .gallery-section {
        padding: 15px 0;
    }
}