@import './variables.scss';

.namari {
    background-color: $white-color;

    // margin: 0 auto;
    padding: 0 100px;
    /* height: 95vh; */
    // background: $third-gray-color;

    // & .main-section {
    //     background-color: $white-color;
    //     margin: 80px 80px;
    //     // z-index: 100;
    // }

}

@media (max-width:1025px) {
    .namari {
        background-color: $white-color;

        margin: 0 auto;
        padding: 0 20px;
        /* height: 95vh; */
    }
}