@import './variables.scss';

.namari {
    background-color: $white-color;

    // margin: 0 auto;
    padding: 0 80px;
    /* height: 95vh; */
}

@media (max-width:800px) {
    .namari {
        background-color: $white-color;

        margin: 0 auto;
        padding: 0 20px;
        /* height: 95vh; */
    }
}