@import './variables.scss';

.namari {
    background-color: $white-color;
    width: 100%;
    height: 95vh;
    margin: auto;
    outline: 2px solid $secondary-gray-color;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 100px;

}

.namari::-webkit-scrollbar {
    display: none;
}

@media (min-width:2300px) {
    .namari {
        width: 100%;
        height: 95vh;
        margin: auto;
        padding: 0 370px;
    }
}

@media (max-width:1025px) {
    .namari {
        background-color: $white-color;
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0 20px;
    }
}