$white-color: #fff;
$primary-gray-color: #333;
$secondary-gray-color: #ccc;
$third-gray-color: #9c9c9c;
$secondary-gold-color: #d2b356;
$primary-black-color:#111;
$secondary-black-color-rgba: rgba(0, 0, 0, 0.1);
$transition-text: all 0.3s ease-out;