@import '../../../../variables.scss';

.links-section {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    z-index: 1000;

    & .links-text {
        color: $primary-gray-color;
        font-size: 17px;
        transition: $transition-text
    }

    & .links-text:hover {
        color: $secondary-gold-color;
    }
}

@media (min-width: 1440px) {
    .links-section {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        gap: 25px;

    }
}

@media (max-width :1025px) {

    .links-section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}